
<script src="__PUBLIC__/js/jquery.js"></script>
<script>
	$(function(){		
		$.ajax({
			url:"/git/index.php/Home/salon/index_data",
			type:"POST",
			success:function(data){
				if(data.status === 0){
					var data = data.data;
					$.each(data,function(i,obj){
						$("#data_form").append(
							"<div class='row'><div class='col-md-7'><a href='/git/index.php/Home/salon/salon/id/"+obj.id+"'><img class='img-responsive img-hover' src='__PUBLIC__/images/"+obj.img+"'></a></div>"+
							"<div class='col-md-5'><h3>"+obj.title+"</h3><h4>出席嘉宾:</h4><p><ul>"+obj.compere+"</ul><h4>出席企业:</h4><ul>"+obj.guest+"</ul></p><a class='btn btn-primary' href='/git/index.php/salon/salon/id/"+obj.id+"'>进入查看详情</i></a></div>"+
							"</div><hr>"
						)
					})					
				}
			}
		})		
	})

</script>

<div class="container" id="myform">
	<div class='row'>
		<div class='col-lg-12'>
			<h1 class='page-header'>创业沙龙
				<samll>交流交流</samll>
			</h1>
			<ol class='breadcrumb'>
				<li>
					<a href='index.html'>首页</a>
				</li>
				<li class='active'>创业沙龙</li>
			</ol>
		</div>
	</div>


	<div id='data_form'>
	
	</div>

		<hr>
		<!-- 临时分页 -->
		<div class="row text-center">
			<div class="col-lg-12">
				<ul class="pagination">
					<li>
						<a href="#">&laquo;</a>
					</li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 临时分页end -->	