	<!-- 内容 -->
	<div class="container">
	<!-- 内容头开始 -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">创业沙龙
					<small>交流交流</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="index.html">首页</a></li>
					<li class="active">创业沙龙</li>
				</ol>
			</div>
		</div>
	<!-- 内容头结束 -->
	<volist name="data" id="arr">
		<!-- 创业沙龙例子 -->
		<div class="row">
			<div class="col-md-7">
				<a href="{:U('salon/salon',array('id'=>$arr['id']))}">
					<img class="img-responsive img-hover" src="__PUBLIC__/images/{$arr.img} "ale="">
				</a>
			</div>
			<div class="col-md-5">
				<h3>{$arr.title}</h3>
				<h4>出席嘉宾:</h4>
				<p>
				<ul>
					{$arr.compere}
				</ul>
				<h4>出席企业:</h4>
				
				<ul>
					
					{$arr.guest}
				</ul>
				</p>
				<a class="btn btn-primary" href="{:U('salon/salon',array('id'=>$arr['id']))}">进入看详情</i></a>
			</div>
		</div>

		<hr>

	</volist>
		<!-- 例子 end-->

		<hr>
		<!-- 临时分页 -->
		<div class="row text-center">
			<div class="col-lg-12">
				<ul class="pagination">
					<li>
						<a href="#">&laquo;</a>
					</li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 临时分页end -->