	<!-- 内容 -->
	<div class="container">
		<!-- 内容头 -->
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">沙龙详情 
					<small></small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="{:U('salon/index')}">首页</a></li>
					<li class="active">沙龙详情</li>
				</ol>
			</div>
		</div>
		<!-- 内容头end-->
		<!-- 沙龙内容 -->
		<script src='__PUBLIC__/js/jquery.js'></script>
		<script>
			var id = "{$_GET['id']}";
			$(function(){
				$.ajax({
					url:"/git/index.php/Home/Salon/salon_data/id/"+id,
					type:"POST",
					success:function(data){
						if(data.status === 0){
							var data = data.data;
							$.each(data,function(i,obj){
								$("#div2").append(
									"<div class='col-sm-3 img-portfolio'><a href='#'><img class='img-responsive img-hover img-related' src='__PUBLIC__/images/"+obj.img+"'></a></div>"
								)
							})
						}
					}
				})
			})
		</script>
		<script>
			var id = "{$_GET['id']}";
			$(function(){
				$.ajax({
					url:"/git/index.php/Home/Salon/salon_data_2/id/"+id,
					type:"POST",
					success:function(data){
						if(data.status === 0){
							var data = data.data;
							$.each(data,function(i,obj){
								
								$("#one").html(
									"<img class='img-responsive' src='__PUBLIC__/images/"+obj.bimg1+"'>"
								),
								$("#two").html(
									"<img class='img-responsive' src='__PUBLIC__/images/"+obj.bimg2+"'>"
								),
								$("#three").html(
									"<img class='img-responsive' src='__PUBLIC__/images/"+obj.bimg3+"'>"
								),
								$("#data").html(
									"<h3>沙龙描述</h3><p>"+obj.says+"</p>"+
									"<h3>沙龙细节</h3>"+obj.details
								)
							})
						}
					}
				})
			})
		</script>
		<div class="row">
			<div class="col-md-8">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- 指示 -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>
					<!-- 指示 end -->
					<!-- 图片 -->
					<div class="carousel-inner">
						
							<div class='item active' id='one'></div>
							<div class='item' id='two'></div>
							<div class='item' id='three'></div>
						
					</div>
					<!-- 图片end -->
					<!-- 按钮 -->
					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
					<!-- 按钮end -->
				</div>
			</div>
			<!-- 右边提示 -->
			<div class="col-md-4">
				<div id="data">
				
				
				</div>
				
			</div>
			<!-- 右边提示end -->
		</div>
		<!--content end -->
		<!-- 图片展示 -->
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">相关图片</h3>
			</div>
			<div id="div2">

			</div>


		</div>
		<!-- 图片展示end -->