<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/jquery-form.js"></script>
<script>
	var sid = "{$_GET['id']}";
	$(function(){
		$("#put").click(function(){
			var formData = new FormData();
			var img = $("#img");
			formData.append("img",img[0].files[0]);
			$.ajax({
				url:"/git/index.php/Sadmin/img/add/id/"+sid,
				type:"POST",
				data:formData,sid,
   				contentType: false,
   				processData: false,
				success:function(data){
					if(data.status ==0){
						alert(data.img);
					}else{
						$("#ji").append(data.status);
					}
				},
				error:function(){
					alert("致命错误");
				}
			})

			//这个里的DEBUG流程，要学，别瞎跳，有逻辑，事半功倍。懂？要一步一步排除。好了，就这样把
			//点击的时候，你没发现你的表单没提交了吗？是，所以你要return false把点击事件取消！ submit是会提交表单的，button不会，但是submit一样可以取消提交表单，具体怎么做，我忘记了，
			//应该不是单独的return false，现在我们先用button代替
			//点击没反映。第一步看Console，这里有个JS错误，所以要先解决JS错误
			//js执行成公后，看网络请求
			return false;
		})
	})

</script>

<form class="form-horizontal" method="post"  action=" " enctype="multipart/form-data" id="myform">

<input type="file" class="input-xlarge" name="img" id="img">

<input type="button" value="保存" id="put"></input>
</form>
<div id="ji"></div>