<!-- 内容 -->
<div class="container">
	<!-- 内容头部 -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">关于我们
				<small>about</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">首页</a></li>
				<li class="active">关于我们</li>
			</ol>
		</div>
	</div>
	<!-- 头结束 -->
	<div class="row">

	</div>
	<!-- 内容身体 -->
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="__PUBLIC__/images/title.jpg" ale="">
		</div>
		<div class="col-md-6">
			<h1>关于我们公司</h1>
			<h3><p>深圳福田<br>华茂欣园,银杏阁6F<br></p></h3>
			<div style="font-size:22px">
				<p><i class="fa fa-phone"></i>
					<abbr title="Phone">P</abbr>:123-45678
				</p>
				<p><i class="fa fa-envelope-o"></i>
					<abbr title="Email">E</abbr>:<a href="mailto:243504330@qq.com">243504330@qq.com</a>
				</p>
				<p><i class="fa fa-clock-o"></i>
					<abbr title="Hours">H</abbr>:Monday - Friday: 9:00 AM to 5:00 PM
				</p>
			</div>

			<ul class="list-unstyled list-inline list-social-icons">
				<li>
					<a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
				</li>
			</ul>		
		</div>
	</div>
	<!-- 我们介绍 -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">公司简介</h2>
			<h4><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳市前海网金榜互联网金融服务有限公司(简称网金榜)，2015年4月注册于深圳前海新区，是一家积极响应国家金融号召致力于创新型P2P网贷行业的门户网站。
网金榜由多位证劵、金融、私募领域的资深专家，以及互联网精英团队共同组建而成。并在2015年与深圳广电集团财经频道合作，重磅打造出一档高端谈话类财经节目——《互联网金融》，搭建成具有权威性、专业性和时效性等特点的互联网金融传播平台，致力于为广大借贷用户提供专业安全方便快捷的互联网金融服务。
网金榜提供互联网环境下点对点、个人对个人的借贷服务，平台本身不是借贷主体，而是信息服务者、撮合者以及风险控制者，为大众提供低门槛、能触及、低成本、高效率、安全可靠的融投资新渠道，满足借贷用户的资金需求，同时帮助投资用户实现财富增值，实现双向普惠。
我们内心有始终不变的原则和坚持——专业配资，诚信共赢
我们的愿景：打造互联网金融首选平台，奉献诚信专业的投资理财服务。
我们的使命：传递专业理财观念，引导全民理性投资，打造中国人最安心的自家钱包，实现人人财务自由！</p></h4>
		</div>
	</div>
	<!-- 我们介绍end -->
	<!-- 我们的团队 -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">公司环境</h2>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="__PUBLIC__/images/home1.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="__PUBLIC__/images/home2.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="__PUBLIC__/images/home3.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="__PUBLIC__/images/home4.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="__PUBLIC__/images/food1.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="__PUBLIC__/images/home6.jpg" alt="">
			</div>
		</div>
	</div>	
	<!-- 团队简介end -->
	<!-- 我们的嘉宾/客户 -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">合作伙伴</h2>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="https://placeholdit.imgix.net/~text?txtsize=66&txt=700%C3%97450&w=700&h=450" alt="">
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="https://placeholdit.imgix.net/~text?txtsize=66&txt=700%C3%97450&w=700&h=450" alt="">
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="https://placeholdit.imgix.net/~text?txtsize=66&txt=700%C3%97450&w=700&h=450" alt="">
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="https://placeholdit.imgix.net/~text?txtsize=66&txt=700%C3%97450&w=700&h=450" alt="">
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="https://placeholdit.imgix.net/~text?txtsize=66&txt=700%C3%97450&w=700&h=450" alt="">
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="https://placeholdit.imgix.net/~text?txtsize=66&txt=700%C3%97450&w=700&h=450" alt="">
		</div>
	</div>	
	<!-- 嘉宾/客户 end-->